<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tempos21.versioncontrol"
    android:versionCode="144"
    android:versionName="1.4.4" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >
    </application>

</manifest>